@using JC_Family_demo_.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}

<div class="block-login">
    <span class="login-form-title">@ViewBag.Title</span>
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-container">
            <div class="wrap-input">
                <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                @Html.TextBoxFor(m => m.User, new { @class = "form-control", placeholder = "User" })
            </div>
            <br />
            @Html.ValidationMessageFor(m => m.User, "", new { @class = "text-danger" })
        </div>

        <div class="form-container">
            <div class="wrap-input">
                <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
            <br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>

        <div class="validation-container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>

        <div class="loader-container" style="display:none">
            <span id="loader" ></span>
        </div>

        <div class="form-container">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <div class="form-container">
            <input type="submit" value="Log in" class="lg-btn" />
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    <script src="~/Scripts/App/login.js"></script>;
}